<app-top-navbar> </app-top-navbar>

<div class="container">
  <button type="button" id="add" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
    </svg>
   </button>
   <h1 style="text-align: center; padding: 20px;color: rgb(35, 35, 104);" ><img src="assets/img/pass.png" alt="">   Liste des passagers </h1>
   <form class="uk-form">
    <input id="inpu" [(ngModel)]="passager.id" name="passager.id" placeholder="Numero Passager">
    <svg id="ser" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
      <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
    </svg>
  </form>
 

<table class="table">
  <thead>
      <tr>
        <th scope="col">Numéro passager</th>
        <th scope="col">Numéro du Passeport</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Date de naissance</th>
        <th scope="col">E-Mail</th>
        <th scope="col">Tel</th>

      </tr>
  </thead>
  <tbody>
     
          <tr *ngFor="let passager of passagers |tableFilterpassager: passager.id">
             
            <td scope="row">{{passager.id}}</td>
              <td>{{passager.num_passort}}</td>
              <td>{{passager.nom}}</td>
              <td>{{passager.prenom}}</td>
              <td>{{passager.date_naissance}}</td>
              <td>{{passager.adresse}}</td>
              <td>{{passager.tel}}</td>

              <td><button class="btn btn-warning btn-sm mx-2" routerLink="/showpass/{{passager.id}}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
              </svg></button></td>
  
          </tr>
     
  </tbody>
</table>
</div>








<!-- Button trigger modal -->


<!-- Modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
     
       
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        

          <form class="well form-horizontal"   id="contact_form" (ngSubmit)="insertpassData()">
      <fieldset>
      
      <!-- Text input-->
      <div id="in1" class="form-group">
        

        <label class="col-md-4 control-label"></label>  
        <div class="col-md-4 inputGroupContainer">
        <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input name="nom" style="width: 250px;" placeholder="Entrez le nom" class="form-control" [(ngModel)]="passager.nom" type="text">
          </div>
        </div>
      </div>
      
      <!-- Text input-->
      
      <div id="in1" class="form-group">
        <label class="col-md-4 control-label" ></label> 
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input name="prenom" style="width: 250px;" placeholder="Entrez le Prénom" class="form-control" [(ngModel)]="passager.prenom" type="text">
          </div>
        </div>
      </div>
      
        
        
      <!-- Text input-->
      
      <div id="in1" class="form-group">
        <label class="col-md-4 control-label" ></label> 
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-date"></i></span>
        <input name="date_naissance" style="width: 265px;" placeholder="Entrez la date de naissance" class="form-control" [(ngModel)]="passager.date_naissance"  type="date">
          </div>
        </div>
      </div>
      
      <!-- Text input-->
      
      <div id="in1" class="form-group">
        <label class="col-md-4 control-label" ></label> 
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        <input name="num_passort" style="width: 250px;" placeholder="Entrez le Numéro de Passeport" class="form-control" [(ngModel)]="passager.num_passort" type="text">
          </div>
        </div>
      </div>
      
      <!-- Text input-->
      
      
      
      <!-- Text input-->
             <div id="in1" class="form-group">
        <label class="col-md-4 control-label"></label>  
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        <input name="adresse" style="width: 250px;" placeholder="Entrez l'adresse E-Mail " class="form-control"  type="text" [(ngModel)]="passager.adresse">
          </div>
        </div>
      </div>
      
      
      <!-- Text input-->
             
      <div id="in1" class="form-group">
        <label class="col-md-4 control-label"></label>  
          <div class="col-md-4 inputGroupContainer">
          <div class="input-group">
              <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>
        <input name="tel" style="width: 250px;" placeholder="(Indiquez indicatif)" class="form-control" type="text" [(ngModel)]="passager.tel">
          </div>
        </div>
      </div>
      
      <!-- Select Basic -->
      
      <!-- Success message -->
      <div class="alert alert-success" role="alert" id="success_message">Success <i class="glyphicon glyphicon-thumbs-up"></i> Success!.</div>
      
      <!-- Button -->
      <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4"><br>
          <button type="submit" class="btn btn-primary" > SAUVEGARDER</button>
        
          
        </div>
      </div>
      </fieldset>
      </form>
      </div>
      
      </div>
      
    </div>
  </div>
<!-- ======= Footer ======= -->
<app-footer></app-footer>
<!-- End Footer -->

















