<app-top-navbar> </app-top-navbar>

<div class="all">
<div class="container">
    <img id="img1" src="assets/img/perso.png" alt="">
    <button class="btn r" style="position: absolute;top: 130px;background-color: rgb(74, 74, 159);"> <a style="text-decoration: none;color: azure;" routerLink="/entrerinfopass"> <svg id="return" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
  </svg></a></button>
<ul class=" list ">
    <li class="list-group-item "><span><img id="img2" src="assets/img/id.png"alt="">Numéro du Passager :</span> {{id}}</li>
    <li class="list-group-item"><span><img id="img2" src="assets/img/passport.png"alt="">Numéro du Passport:</span> {{data[0].num_passort}}</li>
    <li class="list-group-item"><span><img id="img2" src="assets/img/passag.png"alt="">Nom:</span> {{data[0].nom}}</li>
    <li class="list-group-item"><span><img id="img2" src="assets/img/passag.png"alt="">Prenom:</span> {{data[0].prenom}}</li>
    <li class="list-group-item"><span><img id="img2" src="assets/img/calen.png"alt="">Date de naissance:</span> {{data[0].date_naissance}}</li>
    <li class="list-group-item"><span><img id="img2" src="assets/img/email.png"alt="">E-mail:</span> {{data[0].adresse}}</li>
    <li class="list-group-item"><span><img id="img2" src="assets/img/tel.png"alt="">Tel:</span> {{data[0].tel}}</li>
  </ul></div></div> 
  <!-- ======= Footer ======= -->
<app-footer></app-footer>
<!-- End Footer -->